::-webkit-scrollbar {
    width: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 50vh;
    display: grid;
    justify-content: center;
    overflow: hidden;
}

#main {

    width: 300vw;
    max-width: 540px;
    height: 90vh;
    box-shadow: inset 0 0 10px 4px rgba(2, 47, 56, 0.4);
}

h2 {
    text-align: center;
    font-family: sans-serif;
    background: #0a7781;
    color: white;
    padding: 28px;
    /* text-shadow: 1px 1px 4px #09044a; */
    margin-bottom: 8px;
}

#msg_area {
    height: 97%;
    padding: 0 12px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#robot {
    display: inline;
    align-items: center;
}

h3 {
    font-family: monospace;
    font-size: 20px;

}

#input {
    top: 70%;
    height: 7%;
    min-height: 42px;
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 8px 16px;
    border-radius: 32px;
    background: linear-gradient(#0a7781 50%, #0a7781 50%);
    box-shadow: 0 1px 0 #777;
    position: relative;
}

#text {
    outline: none;
    font-size: 20px;
    background: #ffffff;
    color: #332e2e;
    border-radius: 32px 0px 32px 32px;
    padding: 0 16px;
    border: solid 1px #000000;
    border-right: none;


}

#send {
    outline: none;
    font-size: 20px;
    color: #f9f9f9;
    background: #0a7781;
    border: none;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    /* transition-duration: 0.2s; */
    border-right: none;
    cursor: pointer;

}

#send:active {
    font-size: 16px;
}

.left,
.right {
    font-size: 18px;
    font-family: monospace;
    display: inline-block;
    width: auto;
    max-width: 60%;
    padding: 14px;
    word-wrap: break-word;
    margin: 8px 14px;
}

.left {
    color: #000;
    background: #b3bfca;
    border-radius: 0 16px 16px 16px;
}

.right {
    color: #ffffff;
    background: #0a7781;
    border-radius: 16px 16px 0 16px;
    float: right;
}

.msgCon1,
.msgCon2 {
    width: 100%;
    display: inline-block;
}
