@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

:root {
    --main-color: #d12fe0;
    --blue: #0000ff;
    --blue-dark: #18293c;
    --orange: #ffa500;
    --green-yellow: #cddc39;
    --yellow-light: #efefa2;
    --cyan-light: #aef1ee;
    --white: #ffffff;
    --white-alpha-40: rgba(225, 255, 255, 0.40);
    --white-alpha-25: rgba(255, 255, 255, 0.25);
    --backdrop-filter-blur: blur(5px);
    --green: #1c670c;

}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

::before,
::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, var(--yellow-light), var(--cyan-light));
    font-size: 16px;
    color: var(--blue-dark);
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    padding: 5vh 15px;
}

body::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--green-yellow);
    z-index: -1;
    opacity: 0.1;
}

img {
    max-width: 100%;
    vertical-align: middle;
    margin-left: 600px;
}

section {
    border-radius: 25px;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    min-height: 90vh;
}

.main {

    max-width: 1200px;
    margin: auto;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.home-text {
    width: 200px;

}

.home-text h1 {
    font-size: 70px;
    position: absolute;
    line-height: 80px;
    margin-top: 50px;
    padding: 25px;
    font-family: 'Mooli', sans-serif;
}

.home-text p {
    font-size: 20px;
    line-height: 20px;
    margin-top: 250px;
    padding: 25px;
    font-family: 'Dosis', sans-serif;
    font-weight: normal;
    line-height: 22px;

}

.home-img img {
    max-width: 150%;
    vertical-align: middle;
    margin-left: 600px;
    margin-top: -250px;

}

.home-text,
.home-img {
    width: 50%;
    padding: 15px;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: var(--white);
}

::-webkit-scrollbar-thumb {
    background-color: var(--green);
}

.home-button {
    margin-top: -190px;
    padding-top: 30px;


}

.home-button button {
    background-color: #18293c;
    padding: 15px;
    width: 150px;
    border-radius: 50px;
    color: white;
    margin-left: 25px;
    border: none;
}

.home-button button a {
    color: white;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

.section-1 {
    margin-top: 100px !important;
    max-width: 1200px;
    height: 100px;
    margin: auto;
}


.section-title {
    width: 100%;
}

.section-1 h1 {
    font-size: 40px;
    font-family: 'Mooli', sans-serif;
    padding: 60px 50px;
    width: 100%;
}

.section-component-1 {
    width: 30%;
    height: 50px;
    width: 30%;
    display: inline-block;
    box-shadow: 1px, 1px, 2px, rgb(51, 63, 51);
    /* border: 1px solid var(--white-alpha-40); */
}

.section-component-1 img {
    height: 150px;
    width: 200px;
    margin-left: 109px;

}

.section-component-1 .component-detail-1 {
    width: 300px;
    height: 150px;
    background-image: linear-gradient(to bottom, var(--white-alpha-25), var(--white-alpha-40));
    text-align: center;
    border-radius: 15px;
    margin-left: 60px;
    margin-top: -20px;
}

.section-component-1 .component-detail-1 h2 {
    color: var(--blue-dark);
    margin-top: 10px;
    font-family: 'Dosis', sans-serif;
}

.section-component-1 .component-detail-1 p {
    word-wrap: break-word;
    color: #222246;
    width: 300px;
    line-height: 1;
    margin-top: 10px;
}

.section-component-2 {
    width: 30%;
}

.section-component-2 img {
    margin-top: -400px;
    height: 200px;
    width: 200px;
    margin-left: 479px;
    padding-bottom: 10px;
}

.section-component-2 .component-detail-2 {
    width: 300px;
    height: 150px;
    background-image: linear-gradient(to bottom, var(--white-alpha-25), var(--white-alpha-40));
    text-align: center;
    border-radius: 15px;
    margin-left: 430px;
    margin-top: -164px;

}

.section-component-2 .component-detail-2 h2 {
    color: var(--blue-dark);
    margin-top: 10px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

.section-component-2 .component-detail-2 p {
    word-wrap: break-word;
    color: #222246;
    width: 300px;
    line-height: 1;
    margin-top: 10px;
    text-align: center;
}

.section-component-3 {
    width: 30%;
}

.section-component-3 img {
    margin-top: -470px;
    height: 220px;
    width: 350px;
    margin-left: 779px;
}

.section-component-3 .component-detail-3 {
    width: 300px;
    height: 150px;
    background-image: linear-gradient(to bottom, var(--white-alpha-25), var(--white-alpha-40));
    text-align: center;
    border-radius: 15px;
    margin-left: 800px;
    margin-top: -185px;
}

.section-component-3 .component-detail-3 h2 {
    color: var(--blue-dark);
    margin-top: 10px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

.section-component-3 .component-detail-3 p {
    word-wrap: break-word;
    color: #222246;
    width: 300px;
    line-height: 1;
    margin-top: 10px;
    text-align: center;
}

.next-section {
    height: 500px;
    /* background-color: #0000ff; */
    padding-top: 100px;
}

.next-section h1 {
    margin-left: 100px;
    font-family: 'Dosis', sans-serif;
    font-size: 40px;
}

.each-component {
    padding-top: 50px;
}

.each-component .animation {
    height: 50px;
    background-image: linear-gradient(to bottom, var(--white-alpha-25), var(--white-alpha-40));
    text-align: center;
    border-radius: 15px;
    padding: 20px 50px 20px 50px;
    margin-top: 185px;
    margin-left: 100px;
}

.each-component .cards {
    height: 50px;
    background-image: linear-gradient(to bottom, var(--white-alpha-25), var(--white-alpha-40));
    text-align: center;
    border-radius: 15px;
    padding: 20px 50px 20px 50px;
    margin-top: 185px;
    margin-left: 50px;
}

.each-component .carousels {
    height: 50px;
    background-image: linear-gradient(to bottom, var(--white-alpha-25), var(--white-alpha-40));
    text-align: center;
    border-radius: 15px;
    padding: 20px 50px 20px 50px;
    margin-top: 185px;
    margin-left: 50px;
}

.each-component .chatbots {
    height: 50px;
    background-image: linear-gradient(to bottom, var(--white-alpha-25), var(--white-alpha-40));
    text-align: center;
    border-radius: 15px;
    padding: 20px 50px 20px 50px;
    margin-top: 185px;
    margin-left: 50px;
}

.each-component .header {
    height: 50px;
    background-image: linear-gradient(to bottom, var(--white-alpha-25), var(--white-alpha-40));
    text-align: center;
    border-radius: 15px;
    padding: 20px 50px 20px 50px;
    margin-top: 185px;
    margin-left: 50px;
}

.each-component span a {
    color: #18293c;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    text-decoration: none;
}
.each-component-next{
    padding-top: 50px;
    /* margin-left: 10px; */
}
.each-component-next .hero-section{
    height: 50px;
    background-image: linear-gradient(to bottom, var(--white-alpha-25), var(--white-alpha-40));
    text-align: center;
    border-radius: 15px;
    padding: 20px 50px 20px 50px;
    margin-top: 350px;
    margin-left: 100px;
} 
.each-component-next .image-slider {
    height: 50px;
    background-image: linear-gradient(to bottom, var(--white-alpha-25), var(--white-alpha-40));
    text-align: center;
    border-radius: 15px;
    padding: 20px 50px 20px 50px;
    margin-top: 185px;
    margin-left: 50px;
}
.each-component-next .navbar {
    height: 50px;
    background-image: linear-gradient(to bottom, var(--white-alpha-25), var(--white-alpha-40));
    text-align: center;
    border-radius: 15px;
    padding: 20px 50px 20px 50px;
    margin-top: 185px;
    margin-left: 50px;
}
.each-component-next .slider {
    height: 50px;
    background-image: linear-gradient(to bottom, var(--white-alpha-25), var(--white-alpha-40));
    text-align: center;
    border-radius: 15px;
    padding: 20px 50px 20px 50px;
    margin-top: 185px;
    margin-left: 50px;
}
.each-component-next .text {
    height: 50px;
    background-image: linear-gradient(to bottom, var(--white-alpha-25), var(--white-alpha-40));
    text-align: center;
    border-radius: 15px;
    padding: 20px 50px 20px 50px;
    margin-top: 185px;
    margin-left: 50px;
}
.each-component-next a{
    color: #18293c;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}
footer{
    height: 200px;
    /* background-image: linear-gradient(to bottom, var(--white-alpha-25), var(--cyan-light)); */
    background-image: linear-gradient(to bottom, var(--white-alpha-25), var(--white-alpha-40));
    box-shadow: 2px 2px 2px 2px var(--white-alpha-40);
    margin-top: -150px;
    margin-bottom: 0px;
}
footer ul{
   margin-top: 90px;
    position: absolute;
    display: inline;
    text-align: center;
    list-style: none;
    margin-left: 190px;
   
}
footer ul li{
    color: black;
    display: inline;
    padding: 100px;
}
footer ul li a{
    color: #18293c;
    margin-top: 100px;
    padding-top: 100px;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: bold;
}