*{
    margin: 0;
    padding: 0;
}
.card{
    height: 400px;
    width: 300px;
    background-color: antiquewhite;
    margin: 50px;
    box-shadow: 10px 10px 5px 2px orchid, 15px 15px 9px 5px rgb(255, 224, 254) inset ; 
    /* inset will give shadow from inside */
}